@import url('https://fonts.cdnfonts.com/css/alfa-slab-one');
@import url('https://fonts.cdnfonts.com/css/inter');


:root{
    --background : #FBFAF8;
    --text-noir : #212121;
    --main-vert : #0C502B;
    --hover-vert : #148849;
    --hover-vert-transparent : #148848bc;
    --text-blanc: #FBFAF8;    
}

* {
   
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}
body {
  background-color: var(--text-blanc);
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--hover-vert);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--main-vert);
}

.image_haut_anniversaire {
    height: 490px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.image_haut_anniversaire img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CSS TITRAGE ANNIVERSAIRE */

.Titre_anniversaire {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40Px;
}

.Titre_anniversaire h1 {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 48px;
    font-weight: 400;
    position: relative;
    display: inline-block; /* Make the h1 element inline-block */
}

.Titre_anniversaire h1::after {
    content: ""; /* Add an empty content property for pseudo-elements */
    position: absolute;
    bottom: -10px; /* Adjust the distance from the text */
    left: 0;
    width: 100%;
    height: 10px; /* Set the height/thickness of the underline */
    background-color: #148849; /* Customize the color of the underline */
    background: linear-gradient(to right, #148849 33%, #00ff0000 33%, #00ff0000 66%, #148849 66%, #148849 100%);
    border: 3px solid #148849;
}

.bold_text_anniversaire{
    font-weight: 800;
}

.liste_anniversaire {
    text-align: left;
}

.liste_anniversaire li::before {
    content: '\2022'; /* Unicode character for a solid circle */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.anniversaire_quand{
    background-color: var(--main-vert);
    color: var(--text-blanc);
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    max-width: 90%;
    margin: 0 auto;
}

.anniversaire_quand p{
    margin: 0;
}

.anniversaire_quand .bold_quand{
    font-weight: 700;
}



/* 
CSS DEROULE 
*/

.Titre_deroule {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50Px;
}

.Titre_deroule h1 {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 48px;
    font-weight: 400;
    position: relative;
    display: inline-block; /* Make the h1 element inline-block */
}

.Titre_deroule h1::after {
    content: ""; /* Add an empty content property for pseudo-elements */
    position: absolute;
    bottom: -10px; /* Adjust the distance from the text */
    left: 0;
    width: 100%;
    height: 10px; /* Set the height/thickness of the underline */
    background-color: #148849; /* Customize the color of the underline */
    background: linear-gradient(to right, #148849 33%, #00ff0000 33%, #00ff0000 66%, #148849 66%, #148849 100%);
    border: 3px solid #148849;
}

.Titre_deroule p{
    text-align: left;
    margin-top: 5px;
}

.tenue_conseillee{
    margin-top: 20px !important;
}

.Titre_deroule li::before {
    content: '\2022'; /* Unicode character for a solid circle */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.tenue_conseille_bold{
    font-weight: 700;
    font-size: 24px ;
    margin-bottom: 0 !important;
}

.tenue_conseille ul{
    margin: 0;
}

.Tarif_Anniversaire{
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    background-color: var(--main-vert);
    height: auto;
}

.Tarif_Anniversaire h1 {
    font-family: 'Alfa Slab One', sans-serif;
    color: var(--text-blanc);
    font-size: 48px;
    font-weight: 400;
    position: relative;
    display: inline-block; /* Make the h1 element inline-block */
}

.Tarif_Anniversaire h1::after {
    content: ""; /* Add an empty content property for pseudo-elements */
    position: absolute;
    bottom: -10px; /* Adjust the distance from the text */
    left: 0;
    width: 100%;
    height: 10px; /* Set the height/thickness of the underline */
    background-color: #ffffff; /* Customize the color of the underline */
    background: linear-gradient(to right, #ffffff 33%, #00ff0000 33%, #00ff0000 66%, #ffffff 66%, #ffffff 100%);
    border: 3px solid #ffffff;
}

.Infos_tarifs{
    margin-top: 20px;
}

.Tarif_Anniversaire p{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Alfa Slab One', sans-serif;
    color: var(--text-blanc);
    font-size: 34px;
}

.anniv_formulaire {
    text-align: center !important;
}

.anniv_italic{
    font-family: 'Inter', sans-serif !important;
    text-align: center !important;
    font-weight: 300;
    font-size: 24px !important;
    font-style: italic;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

 .anniv_download {
    font-family: 'Inter', sans-serif !important;
    font-size: 28px !important;
    text-align: center !important;
    padding-bottom: 50px;
    text-decoration: underline;
}