@import url('https://fonts.cdnfonts.com/css/alfa-slab-one');
@import url('https://fonts.cdnfonts.com/css/inter');


:root{
    --background : #FBFAF8;
    --text-noir : #212121;
    --main-vert : #0C502B;
    --hover-vert : #148849;
    --hover-vert-transparent : #148848bc;
    --text-blanc: #FBFAF8;    
}

* {
   
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .cours_membre {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* This centers the div horizontally */
    width: 80%;
    /* Adjust margin or padding based on sidebar width */
    margin-left: 20%;
    /* Other content styles */
    padding: 2%;
    height: auto;
    min-height: 300px;
    /* Set a minimum height */
    font-family: 'Inter', sans-serif;
    font-size: 1.25em;

}

  .infos_cours_container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 5px;
    border: black solid 1px;
  }
  
  .child-div {
    flex: 1; /* Make both child-divs take equal width */
    max-width: 500px;
    border: 1px solid #000000;
    padding: 15px; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 600px;
    text-align: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    
  }

  .child-div h1 {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    display: inline-block; /* Make the h1 element inline-block */
}

.child-div h1::after {
    content: ""; /* Add an empty content property for pseudo-elements */
    position: absolute;
    bottom: -10px; /* Adjust the distance from the text */
    left: 0;
    width: 100%;
    height: 10px; /* Set the height/thickness of the underline */
    background-color: #148849; /* Customize the color of the underline */
    background: linear-gradient(to right, #148849 33%, #00ff0000 33%, #00ff0000 66%, #148849 66%, #148849 100%);
    border: 3px solid #148849;
}
  
.scrollable-wrapper {
    position: relative;
    overflow: hidden; /* Hide overflowing content */
  }
  
  .scrollable-container {
    width: 90%;
    margin: auto; /* Center the container horizontally */
    margin-top: 40px;
    max-height: 450px;
    overflow-y: auto; /* Adjust based on the scrollbar width */
  }

  .scrollable-container::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: var(--text-blanc); /* Set the color of the scrollbar thumb */
    border-radius: 5px;
    border: #0C502B 1px solid; /* Set the border radius of the thumb */
  }
  
  .scrollable-container::-webkit-scrollbar-track {
    background-color: var(--main-vert); /* Set the color of the scrollbar track */
  }
  
  .scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color:#33ee87; /* Set the color on hover */
  }
  
  .scrollable-container::-webkit-scrollbar-corner {
    background-color: #f0f0f0; /* Set the color of the scrollbar corner */
  }
  
  .sub-div {
    background-color: var(--main-vert);
    padding: 10px;
    /* width: 80%; */
    margin: 0 auto;
    font-family: 'Alfa Slab One', sans-serif;
    color: var(--text-blanc);
  }
  
  .sub-div:nth-child(even) {
    background-color: var(--hover-vert) /* Set your desired background color for odd rows */
  }

  /* .cours_membre h1 {
    font-size: 18px;
    margin-bottom: 10px;
    
  }*/
  
 .cours_membre p {
    margin: 0;
  } 

 