@import url('https://fonts.cdnfonts.com/css/alfa-slab-one');
@import url('https://fonts.cdnfonts.com/css/inter');


:root{
    --background : #FBFAF8;
    --text-noir : #212121;
    --main-vert : #0C502B;
    --hover-vert : #148849;
    --hover-vert-transparent : #148848bc;
    --text-blanc: #FBFAF8;    
}

* {
   
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: var(--main-vert);
    position: fixed;
    height: 100vh;
    overflow: auto;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column; /* Make the sidebar a vertical column */
  }

  .icon_sidebar img{
    max-width: 100px; /* Adjust the max-width as needed */
    max-height: 100px;
    padding: 10px; /* Adjust the padding for the image */
    margin-left: 25px;
  }

  .icon_sidebar_admin{
    display: flex;
  }

  .icon_sidebar_admin p{
    margin: auto;
    color: var(--text-blanc);
  }

  .icon_sidebar_admin img{
    max-width: 100px; /* Adjust the max-width as needed */
    max-height: 100px;
    padding: 10px; /* Adjust the padding for the image */
    margin-left: 25px;
  }

  .lien_sidebar{
    margin-top: 20px;
  }
  
  .sidebar a {
    display: block;
    color: var(--text-blanc);
    padding: 16px;
    text-decoration: none;
    text-align: right;
    padding-right: 10%;
  }
   
  .sidebar a.active {
    background-color: var(--hover-vert);
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: var(--hover-vert);
    color: white;
  }

  .logout {
    margin-top: auto !important;
    display: flex;
    align-items: center; /* Align text and icon vertically */
    justify-content: center; /* Center content horizontally */
  }
  
  .logout a {
    color: var(--text-blanc);
    padding: 16px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .logout i {
    max-width: 43px; /* Adjust the max-width for the icon */
    margin-right: 10px; /* Adjust the margin for spacing */
    width: 43px;
    height: auto;
  }
  
  .logout:hover {
    background-color: var(--hover-vert);
    color: white;
  }

  .lien_sidebar a.active {
    background-color: var(--hover-vert-transparent)
  }
  
  div.content {
    margin-left: 20%;
    padding: 1px 16px;
    height: 100vh;
  }

/* Default styles for larger screens */
.side-toggle {
  display: none; /* Hide the burger menu icon by default on larger screens */
}

/* Styles for smaller screens */
@media (max-width: 1024px) {
  .side-toggle {
    display: block; /* Show the burger menu icon on smaller screens */
    position: fixed;
    top: 20px;
    font-size: 34px;
    left: 20px; /* Position the burger menu icon to the top right corner */
    cursor: pointer;
    z-index: 1000; /* Ensure burger menu icon is on top of other content */
    color: var(--main-vert);/* Default color */
    transition: left 0.3s ease-in-out; /* Add transition for smooth animation */
  }
  
  .side-toggle.active {
    color: var(--text-blanc); /* Change color to black when the sidebar is active */
    left: 150px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Hide the sidebar off-screen by default on smaller screens */
    width: 250px;
    height: 100%;
    background: var(--main-vert);
    transition: left 0.3s ease-in-out; /* Add transition for smooth animation */
    z-index: 999; /* Ensure sidebar is behind the burger menu icon */
  }

  .sidebar.active {
    left: 0; /* Bring the sidebar into view when active on smaller screens */
  }

  .icon_sidebar_admin p{
    margin: auto;
    color: var(--text-blanc);
  }
}